.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* header style */

nav {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px;
}

.nav-title {
    color: #0e0e0e;
    font-family: 'Fira Sans';
    font-size: 32px;
    font-weight: bold;
}

.banner {
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-between;
    border-radius: 15px;
    padding: 80px 60px;
    margin: 24px 160px
}

.banner-content {
    color: #0E0E0E;
    justify-content: center; /* Center content horizontally */
    text-align: left;
}

.banner-title {
    color: #0E0E0E;
    opacity: 0.5;
    font-family: 'Fira Sans';
    font-size: 24px;
    font-weight: 500;
}

.banner-desc {
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 56px;
    font-weight: bold;
}

.banner-img {
    justify-content: center;
}

/* body style */
body{
    background-color: #F1F1F3;
    font-family: 'Fira Sans';
    margin: 0;
    padding: 0;
    
}
section {
    padding: 24px 160px;
}
.section-title {
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.section-description {
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: regular;
    text-align: left;
    opacity: 0.7;
    line-height: 24px;
}

.pillars {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pillar {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.title {
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    opacity: 0.8;
}

.desc {
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: regular;
    text-align: left;
    opacity: 0.7;
    line-height: 24px;
}

.visions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.vision {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.quote {
    background-color: white;
    border-radius: 15px;
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    padding: 20px;
    margin: 24px 160px;
}

.authority-message {
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: regular;
    text-align: left;
    opacity: 0.8;
    line-height: 24px;
}

.authority-name {
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    opacity: 0.8;
}

.authority-position {
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: regular;
    text-align: left;
    opacity: 0.6;
}

.opinion-table {
    background-color: white;
    border-radius: 15px;
    text-align: left;
    padding: 32px;
}

.opinion-table table {
    border-collapse: collapse;
    width: 100%;
}

.opinion-table th{
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 24px;
}

.table-header {
    background-color: #C6E4D6;
}

.table-header th {
    border: none;
}

.opinion {
    color: #C6E4D6;
    text-align: center;
}
.opinion select {
    background-color: #C6E4D6;
    color: #0E0E0E;
    text-align: center;
    padding: 10px 14px;
}
/* footer style */
footer {
    background-color: white;
    justify-content: center;
    padding: 18px
}

.footer-title{
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

hr {
    opacity: 0.5;
}

.contacts {
    display: flex;
    justify-content: center;
    padding: 18px;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.btn-primary {
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.btn-hollow {
    background-color: #F5F5F5;
    padding: 15px 30px;
    border-radius: 5px;
    color: #006A50;
    border-color: #006A50;
    font-size: 18px;
    font-weight: 600;
}

.blue-bg{
    background-color: rgba(84, 144, 245, 0.2);
}

.blue{
    background-color: #5490F5;
}

.green-bg{
    background-color: #C6E4D6;
}

.green{
    background-color: #09A15C;
}

.yellow-bg {
    background-color: #F7EBCF;
}
.yellow {
    background-color: #FFC239;
}